---
import { PROJECTS } from "../consts";
---

<div
  class="grid gap-8 mb-6 lg:mb-16 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto"
>
  {
    PROJECTS.map((project, index) => {
      const num = `${index + 1}`.padStart(2, "0");

      return (
        <article class="relative items-center text-black rounded-lg">
          <a
            href={`/${project.slug}`}
            class="group hover:scale-110 block transition"
          >
            <span class="group-hover:scale-[2] transition-all group-hover:top-4 group-hover:left-6 opacity-70 group-hover:opacity-100 absolute top-2 left-2 -rotate-12 text-2xl font-bold">
              #{num}
            </span>
            <img
              class="w-full rounded-lg overflow-hidden object-cover aspect-video"
              src={`./projects/${num}.webp`}
              alt={`Captura de pantalla del proyecto ${project.title}`}
            />
          </a>
          <div class="p-5">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900">
              <a
                href={`/${project.slug}`}
                class="hover:text-sky-500 transition"
              >
                {project.title}
              </a>
            </h2>
            <p class="mt-3 mb-4 font-light text-gray-800">
              {project.description}
            </p>
            <ul class="inline-flex flex-wrap gap-2">
              {project.learnings.map((learning) => (
                <li class="text-xs font-light text-gray-600 bg-gray-100 px-2 py-1 rounded-full">
                  {learning}
                </li>
              ))}
            </ul>
            <ul class="flex flex-wrap gap-2 mt-4">
              <li>
                <a
                  href={`https://github.com/Br0wnZ/100-javascript-projects/tree/main/${project.slug}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="inline-flex items-center justify-center px-3 py-2 text-xs font-semibold text-center text-black bg-white transition border border-black/60 rounded-lg hover:bg-black/10 md:text-sm"
                >
                  <svg
                    class="w-5 h-5 mr-1"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Código
                </a>
              </li>
              <li>
                <a
                  href={`/${project.slug}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="inline-flex items-center justify-center px-3 py-2 text-xs font-semibold text-center text-sky-700 bg-white transition border border-sky-700/60 rounded-lg hover:bg-sky-600/20 md:text-sm"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5 mr-1"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"
                    />
                  </svg>
                  Demo
                </a>
              </li>
            </ul>
          </div>
        </article>
      );
    })
  }
  <article
    class="min-h-60 relative items-center text-black rounded-lg bg-purple-50"
  >
    <a
      href="https://github.com/Br0wnZ/100-javascript-projects"
      target="_blank"
      rel="noopener noreferrer"
      class="group hover:scale-110 transition flex justify-center flex-col h-full items-center font-semibold text-purple-700 text-center text-xl"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="100"
        height="100"
        viewBox="0 0 80 80"
      >
        <path
          fill="#b6c9d6"
          d="M76.999,40.001c0,17.44-12.02,31.86-27.97,35.89c-2.9,0.72-5.92,1.11-9.03,1.11 c-3.08,0-6.09-0.38-8.97-1.1c-15.98-4-28.03-18.44-28.03-35.9c0-20.6,16.4-37,37-37C60.599,3.001,76.999,19.401,76.999,40.001z"
        ></path><circle cx="39.999" cy="40.001" r="37" fill="none"
        ></circle><path
          fill="#fff"
          d="M64.029,38.521c0,4.49-2.32,10.73-6.13,13.83c-3.08,2.51-7.15,3.3-11.75,3.55 c1.73,1.05,2.88,2.95,2.88,5.12v14.87c-2.9,0.72-5.92,1.11-9.03,1.11c-3.08,0-6.09-0.38-8.97-1.1v-9.77 c-1.25,0.39-2.89,0.62-5,0.51c-7-0.37-8-4.62-9.12-7.62c-1.13-3-4.63-3.38-4.13-4.62c2.416-0.829,4.314-0.039,5.597,0.938 c1.018,0.776,1.728,1.871,2.203,3.06c0.543,1.358,1.986,3.622,5.57,3.622c2.53,0,4.03-0.59,4.89-1.17 c0.05-2.12,1.21-3.96,2.91-4.97c-4.88-0.31-9.16-1.23-12.31-3.97c-3.5-3.04-5.61-9.11-5.61-13.39c0-3.57,1.47-7.97,3.99-10.74 c0.08-0.08,0.15-0.17,0.25-0.25c-0.58-1.74-1.25-5.18,0.38-9.39c4.85-0.09,8.68,2.56,10.24,3.84c2.82-0.65,5.9-0.96,9.14-0.96 c3.32,0,6.49,0.29,9.36,0.96c1.56-1.28,5.4-3.93,10.24-3.83c1.7,4.38,0.91,7.93,0.32,9.59 C62.529,30.711,64.029,34.921,64.029,38.521z"
        ></path><path
          fill="#788b9c"
          d="M39.999,3.001c-20.6,0-37,16.4-37,37s16.78,37,37,37s37-16.4,37-37S60.599,3.001,39.999,3.001z M39.999,76.001c-19.85,0-36-16.15-36-36c0-9.7,3.72-18.76,10.48-25.52c6.76-6.76,15.83-10.48,25.52-10.48 c9.7,0,18.76,3.72,25.52,10.48c6.76,6.76,10.48,15.82,10.48,25.52C75.999,59.851,59.849,76.001,39.999,76.001z"
        ></path>
      </svg>
      Próximamente <br />
      siguiente proyecto...
    </a>
  </article>
</div>
